<!DOCTYPE html>
<html>
<head>
	<title>Net Admin</title>
	<link href="static/main.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body ng-app="net-game">
	<div ng-controller="AdminController">
		<p>Current gameId is <strong>{{game.id}}</strong>, timestamp: {{game.timestamp}}</p>
		<p>Field is {{game.y}} x {{game.x}} {{game.wrapped?'wrapped':'non-wrapped'}}, solved {{lit}} of {{game.y * game.x}}</p>
		<p><button ng-click="requestShuffle()">Shuffle</button></p>
		<p><form name="newGameForm">
			<input ng-model="newy" type="number" min="3" max="100" required>
			<input ng-model="newx" type="number" min="3" max="100" required>
			<label><input type="checkbox" ng-model="newWrapped">Wrapped</label>
			<button ng-click="startNewGame()">New game</button>
		</form></p>
		<div class="color-panel">
			<color ng-repeat="c in gameStatistics" color-data="c"></color>
			<button ng-click="loadGameStatistics()">Refresh</button>
		</div>
	</div>
<script src="static/admin.js"></script>
</body>
</html>